.row {
	   background-image:url("../images/toy.jpg");
	   background-repeat: no-repeat;	
	   height: 1200px;
	   text-align: center;
	   padding:200px;
}

.logo {
	   padding:10px;
}

h1 {
	font-size:90px;
	font-family:arial;
}

h3 {
   text-align:center;
   font-size:35px;
   color: blue;
}

img {
	height:300px;
	width:365px;
	padding: 2.5px;
}

p {
   text-align: center;
   font-size:30px;
   color:blue;
   padding:25px;
}

.panel {
	     text-align: center;
	     padding: 10px;
	     height:100px;
	     width:100px;
}

