body {
	 font-size:18px;
}

.row {
	   background-image:url("../images/toy.jpg");
	   background-repeat: no-repeat;	
	   height: 1200px;
	   text-align: center;
	   padding:200px;
}

.logo {
	   padding:10px;
}

h1 {
	font-size:90px;
	font-family:arial;
}

h3 {
   text-align:center;
   font-size:35px;
   color: blue;
}

img {
	height:300px;
	width:365px;
	padding:5px;
}

p {
   text-align: center;
   font-size:30px;
   color:blue;
   padding:25px;
}

.row4 {
	   padding:5px;
}

.row6 {
	   background-color:lightgray;
	   height:420px;
	   padding:75px;
}

#google {
	     height:190px;
	     width:280px;
	     padding:30px;
	     text-align: center;
}

#eticket {
	      height:100px;
	      width:100px;
	      padding:20px;
	      text-align: center;
}

#card {
	   height:190px;
	   width:280px;
	   padding:20px;
	   text-align: center;
}

#M-pesa {
	     height:190px;
	     width: 280px;
	     padding: 20px;
}

#paypal {
	     height:190px;
	     width:280px;
	     padding:20px;
}

#reservation {
	         height:150px;
	         width:210px;
	         padding:20px;
}